# *****************************************************************************
# *                                                                           *
# *                                                               ::::::::::  *
# *  grub.cfg                                                    :+:+:+:+:+   *
# *                                                                 +:+       *
# *  By: Jack (Khalid Oumouh)                                      +#+        *
# *                                                               +#+         *
# *  Created: 2026/07/05 13:53 by Jack                    #+#    #+#          *
# *  Updated: 2026/07/05 13:53 by Jack                     ########           *
# *                                                                           *
# *****************************************************************************




set timeout=0
set default=0

menuentry "NaoixOS 0.6.8-rc1" {
    multiboot2 /boot/naoixos.elf
    boot
}
